<div class="flex justify-start items-center w-100 mtb-20">
  <!-- Start Categories -->
  <div
    *ngFor="let category of categoriesList"
    class="flex1 category-item text-center cursor-pointer"
    [ngClass]="{
      'active-category': category.categoryKey === activeCategoryKey
    }"
    (click)="chanageCategory(category.categoryKey)"
  >
    {{ category.categoryName }}
  </div>
  <!-- End Categories -->
</div>

<ng-container
  *ngIf="{
    mobileDetailsList: mobileDetails$ | async,
    mobileDetailsError: mobileDetailsError$ | async
  } as vm"
>
  <app-mobile-card
    [dataList]="vm.mobileDetailsList ?? []"
    [loading]="!vm.mobileDetailsList && !vm.mobileDetailsError"
    [errorMessage]="vm.mobileDetailsError"
  ></app-mobile-card>
</ng-container>
