<div class="flex justify-between items-center color-primary">
  <!-- Start Logo -->
  <div class="flex1">
    <div class="flex items-center justify-start gap-10">
      <div>
        <app-img imgName="logo.png" classes="logo-img"></app-img>
      </div>
      <div class="flex flex-col justify-start items-start">
        <div class="logo-text">Mobilo24</div>
        <div class="logo-sub-text">Smartphone Online shop</div>
      </div>
    </div>
  </div>
  <!-- End Logo -->

  <!-- Start Middle Section -->
  <div class="flex1">
    <div class="flex justify-center items-center gap-20 uppercase">
      <div class="cursor-pointer">Smartphone</div>
      <div class="cursor-pointer">Topseller</div>
      <div class="cursor-pointer">Angebote</div>
      <div class="cursor-pointer">Suche</div>
    </div>
  </div>
  <!-- End Start Middle Section -->

  <!-- Start Last Section -->
  <div class="flex1 text-end">
    <div class="cursor-pointer">Merkzettle</div>
  </div>
  <!-- End Start Last Section -->
</div>
